<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.crm.dao.lqm.MyTaskDao">-->
<!--    <select id="getMyaTask" resultType="com.crm.entities.Task">-->
<!--        select * from task where-->
<!--        <where>-->
<!--            1=1 and person_charge=#{uid}-->
<!--            <if test="state=0">-->
<!--                and task_to = #{state}-->
<!--            </if>-->
<!--            <if test="state=1">-->
<!--                and task_to = #{state}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
<!--</mapper>-->