<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.sdn.ReturnsDao">
    <resultMap id="r" type="com.crm.entities.Returns">
        <id column="r_id" property="rId"></id>
        <result column="r_mayp" property="rMayp"></result>
        <result column="r_beenp" property="rBeenp"></result>
        <result column="r_maym" property="rBeenm"></result>
        <result column="r_date" property="rDate"></result>
        <result column="r_state" property="rState"></result>
    </resultMap>

    <!--查询计划-->
    <!--    <select id="findAllReturns" resultType="com.crm.vo.sdn.ReturnsVo">
             select * from returns r left join contract c on c.contract_id=r.contract_id
             left join staff s on s.staff_id=c.staff_id
             left join customer cu on cu.cu_id=c.cu_id where c.contract_name like '%${contractName}%'
             order by r_date desc
        </select>-->

    <select id="findAllReturns" resultType="com.crm.vo.sdn.ReturnsVo">
        select * from returns r left join contract c on c.contract_id=r.contract_id
        left join staff s on s.staff_id=c.staff_id
        left join customer cu on cu.cu_id=c.cu_id
        <where>
            <if test="contractName!=null and contractName!=''">
                c.contract_name like '%${contractName}%'
            </if>
            <if test="rState !=null">
                and r.r_state=#{rState}
            </if>
        </where>
        order by r_date desc
    </select>


    <!--回款状态视图-->
    <resultMap id="returnsView" type="com.crm.entities.Returns">
        <result column="number" property="number"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <select id="findReturnsView" resultType="com.crm.vo.sdn.ReturnsVo">
     select c.r_state as type,count(*) as number from returns c group by c.r_state
    </select>

</mapper>